/* nav area */
.header{
    height: 50%;
    /* border: 2px solid red; */
}
.item0{
    text-align: center;
    padding-top: 30px;
    /* border: 2px solid red; */
    display: flex;
}
.item1{
    text-align: center;
    padding-top: 25px;
    padding-right: 50px;
    /* border: 2px solid orange; */
}
/* slider */
.slider-1{
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #D9CFA8;
}
.slider-inner-1{
    display: flex;
    transition: transform 0.5 ease-in-out;
    /* border: 2px dashed teal; */
    margin: 10px auto;
}
.slider-online-1{
    flex: 0 0 calc(33.3% - 20px);
    max-width: calc(33.3% - 20px);
    margin: 0 10px;
    box-sizing: border-box;
    position: relative;
}
.slider-online-1 img{
        width: 100%;
        height: 300px;
        display: block;
}
.text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 2px 3px #3D3C38;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 130px;
    left: 170px;
}
.slider-online-1 a{
    color: white;
    margin-left: -40px;
}
.slider-1-next, .slider-1-prev{
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px; 
    padding-top: 20px;
    display: block;
    background: rgba(230, 229, 223, 0.5);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.slider-1-prev{
    position: absolute;
}
.slider-1-next{
    position: absolute;
    right: 0;
}
/* new item */
.slider-2{
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #D9CFA8;
}
.slider-inner2{
    display: flex;
    transition: transform 0.5 ease-in-out;
    /* border: 2px dashed blue; */
    margin: 10px auto;
}
.slider-online-2{
    flex: 0 0 calc(33.3% - 20px);
    max-width: calc(33.3% - 20px);
    margin: 0 10px;
    box-sizing: border-box;
    position: relative;
}
.slider-online-2 img{
    width: 100%;
    height: 250px;
    display: block;
}
.slider-right, .slider-left{
    position: absolute;
    top: 35%;
    width: 50px;
    height: 50px; 
    padding-top: 20px;
    display: block;
    background: rgba(230, 229, 223, 0.5);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.slider-left{
    position: absolute;
}
.slider-right{
    position: absolute;
    right: 0;
}

/* ranking */
.slider-3{
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #D9CFA8;
}
.slider-inner3{
    display: flex;
    transition: transform 0.5 ease-in-out;
    /* border: 2px dashed orange; */
    margin: 10px auto;
}
.slider-online-3{
    flex: 0 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    margin: 0 10px;
    box-sizing: border-box;
    position: relative;
}
.slider-online-3 img{
    width: 100%;
    height: 260px;
    display: block;
}
.text-number{
    z-index: 1;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 2px 3px #3D3C38;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
    translate: (0, 0);
}
    .slider-online-3 p{
    color: wheat;
    z-index: 2;
}
.slider-right2, .slider-left2{
    position: absolute;
    top: 35%;
    width: 50px;
    height: 50px;
    display: block;
    background: rgba(230, 229, 223, 0.5);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
}
.slider-right2{
    position: absolute;
}
.slider-left2{
    position: absolute;
    right: 0;
}

/* category */
.category-wrapper{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    background: #D9CFA8;
}
.category-item{
    flex-basis: 30%;
    margin: 60px 20px;
    background: white;
    border-radius: 100px;
    /* border: 2px solid red; */
}
.category-item:hover{
    box-shadow: 2px 2px 10px gray;
}
.category-item a{
    text-decoration: none;
    text-align: center;
    color: black;
}
.category-item a p{
    padding-top: 25px;
    font-size: 20px;
}
@media(max-width:768px){
    /* nav */
    .item1{
        padding-right: 0;
    }
    /* slider */
    .slider-online-1 img{
        width: 100%;
        height: 250px;
        display: block;
    }
    .text{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-shadow: 1px 2px 3px #3D3C38;
        text-align: center;
        text-decoration: none;
        position: absolute;
        top: 120px;
        left: 110px;
    }
    /* new arrivals */
    .slider-online-2 img{
        height: 200px;
    }
    /* ranking */
    .slider-online-3 img{
        height: 200px;
    }
    /* category */
    .category-wrapper{
        height: 175px;
    }
    .category-item a p{
        padding-top: 15px;
        font-size: 15px;
    }
}
@media(max-width:480px){
    .slider-online-1, .slider-online-2, .slider-online-3{
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
    .category-item{
        flex-basis: 30%;
        margin: 60px 5px;
        background: white;
        border-radius: 9px;
        /* border: 2px solid red; */
    }
}