*{
    margin: 0;
    padding: 0;
}

/* nav area */
.header{
    width: 100%;
    height: auto;
    background: white;
}
nav{
    width: 100%;
    height: 60px;
    /* border: 2px solid brown; */
}
nav ul{
    /* display: flex; */
    justify-content: space-around;
    text-decoration: none;
}
.section1 ul li{
    text-align: center;
    text-decoration: none;
    list-style: none;
    /* padding: auto 10px; */
    /* padding-top: 20px; */
    /* border: 2px solid green;    */
}
.section1 li img{
    width: 70%;
    height: 70px;
    margin-top: 5px;
}
.item{
    width: 33%;
    float: left;
    border-collapse: collapse;
    border-spacing: 0;
    /* border: 4px dashed purple; */
}
.item1{
    text-align: center;
    padding-top: 30px;
    padding-right: 50px;
    /* border: 2px solid orange; */
}
.item2{
    padding-top: 30px;
    padding-right: 50px;
    /* border: 2px solid blue; */
    text-align: right;
}
.item3{
    padding-top: 30px;
    padding-left: 20px;
    /* border: 2px solid brown; */
}
.item3 a i{
    color: black;
    margin-top: 10px;
    margin-left: 30px;
}
.header-bg{
    width: 100%;
    height: 650px;
}
.header-bg img{
    width: 100%;
    height: 100%; /* 650px 100% = 650px if i change px it'll change automaticaly*/
    object-fit: cover;

}

.section2 ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 47px;
}
.section2 ul li{
    list-style: none;
    background: #D9CFA8;
    width: 14%;
    text-align: center;
}
.section2 li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.section2 ul li:hover{
    box-shadow: 2px 2px 10px gray;
}
/* slider */
.slider-wrapper{
    width: 102%;
    position: relative;
    overflow: hidden;
    background: #D9CFA8;
}
#slider {
    position: relative;
    overflow: hidden;
    margin: 0px auto 0 auto;
    border-radius: 4px;
  }
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 300px; /*表示画像の幅*/
    height: 300px;
    /* background: #ccc; */
    text-align: center;
    line-height: 300px;
  }
  #slider ul li img{
    width: 290px;
    height: 280px;
    margin-top: 10px;
    cursor: pointer;
  }
  .text{
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 2px 3px #3D3C38;
    text-align: center;
    text-decoration: none;
    top: 0;
    left: 25%;
  }
  a.control_prev, a.control_next {
    position: absolute;
    top: 30%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: 5px;
    height: auto;
    background: rgba(230, 229, 223, 0.5);
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }

/* main area */
/* about */
h3{
    width: 180px;
    height: 30px;
    margin: 20px auto;
    background:#D9CFA8;
    text-align: center;
    font-size: 20px;
}
h3:hover{
    box-shadow: 2px 2px 10px gray;
}
a{
    text-decoration: none;
    color: black;
}
.about{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 530px;
    background: #D9CFA8;
    padding: 10px;
}
.section-1{
   flex-basis: 100%;
}
.section-1 img{
    width: 50%;
    height: 265px;
    float: left;
}
.section-1 p{
    width: 50%;
    height: 150px;
    text-align: center;
    float: right;
    clear: right;
    margin-top: 80px;
}
.section-2{
    flex-basis: 100%;
}
.section-2 img{
    width: 50%;
    height: 265px;
}
.section-2 p{
    width: 50%;
    height: 150px;
    text-align: center;
    float: left;
    clear: left;
    margin-top: 100px;
}
/* store */
.store{
    width: 100%;
    height: 650px;
    background: #D9CFA8;
    position: relative;
}
.store-container img{
    position: static;
    width: 40%;
    height: 600px;
    float: left;
    margin-left: 100px;
    margin-top: 15px;
    border-radius: 25%;
}
.location-1, .location-2{
    width: 30%;
    height: 100px;
    text-align: none;
    display: inline-block;
    background-color: #ffffff76;
    color: black;
    font-weight: 900%;
    font-size: 30px;
    position: absolute;
    text-align: center; 
    /* border: 2px solid red; */
}
.location-1:hover, .location-2:hover{
    background: #D5D8DC;
    opacity: 0.7;
}
.location-1{
    top: 150px;
    left: 170px;
}
.location-2{
    top: 150px;
    right: 150px;
}
.location-1 p, .location-2 p{
    position: static;
    margin-top: 30px;
    font-weight: 500;
}

/* imformation */
.information{
    width: 100%;
    height: 650px;
    background: #D9CFA8;
    align-items: center;
    position: relative;
}
.information img{
    width: 80%;
    height: 580px;
    margin-left: 150px;
    margin-top: 35px;
    z-index: 1;
}
.information a{ /*white box*/
    width: 50%;
    height: 400px;
    text-decoration: none;
    display: inline-block;
    background-color: #ffffff76;
    color: black;
    font-weight: 900%;
    font-size: 30px;
    margin: auto;
    position: absolute;
    top: 130px;
    right: 350px;
    text-align: center;
    z-index: 2;
}
.information a:hover{
    background: #D5D8DC;
    opacity: 0.7;
}
.information a p{
    position: static;
    margin-top: 24%;
    font-family: 'Rubik', sans-serif;
    z-index: 3;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    /* padding-top: 10px; */

}
.social-icon{
    margin-top: 15px;
}
.social-icon img{
    width: 65px;
    height: 40px;
    margin-left: 20px;
}
i{
    color: black;
    margin-top: 10px;
    margin-left: 30px;
}
.social-icon p{
    font-size: 15px;
    margin-top: 10px;
    margin-right: 20px;

}
@media(max-width:768px){
    /* nav */
    nav{
        height: 50px;
    }
    .section2 li a{
        font-size: 15px;
    }
    /* slider */
    .slider-item img{
        height: 200px;
    }
    .text{
        font-size: 20px;
        top: 80px;
        left: 40px;
    }
    /* about */
    .section-1 p{
        margin-top: 50px;
    }
    .section-2 p{
        margin-top: 80px;
    }
    /* store */
    .store{
        height: 540px;
    }
    .store-container img{
        width: 40%;
        height: 500px;
        margin-left: 60px;
        margin-top: 20px;
    }
    .location-1, .location-2{
        width: 30%;
        height: 80px;
        font-size: 30px;
    }
    .location-1{
        top: 120px;
        left: 100px;
    }
    .location-2{
        top: 120px;
        right: 70px;
    }
    .location-1 p, .location-2 p{
        margin-top: 20px;
        font-weight: 500;
    }
    /* information */
    .information{
        height: 540px;
    }
    .information img{
        width: 80%;
        height: 500px;
        margin-left: 80px;
        margin-top: 20px;
    }
    .information a{ 
        width: 50%;
        height: 300px;
        top: 130px;
        right: 190px;
    }
    .information a p{
        margin-top: 120px;
    }
}
@media(max-width:480px){
    /* nav */
    nav{
        height: 35px;
    }
    .item{
        border-collapse: collapse;
        border-spacing: 0;
    }
    input{
        display: none;
    }
    .section1 li img{
        height: 60px;
    }
    .item1{
        padding-right: 0;
        border: 2px solid orange;
    }
    .item3 a i{
        margin-top: 0;
        margin-left: 0;
    }
    .header-bg{
        height: 200px;
    }
    .section2 li a{
        font-size: 8px;
        margin-top: 3px;
    }
    /* about */
    .about{
        height: 470px;
    }
    .section-1 img, .section-2 img{
        height: 235px;
    }
    .section-1 p, .section-2 p{
        height: 50px;
        margin-top: 80px;
        font-size: 10px;
    }
    /* store */             /*store,information,footerまだできてない*/
    .store{
        height: 380px;
    }
    .store-container img{
        position: static;
        width: 40%;
        height: 350px;
        float: left;
        margin-left: 30px;
        margin-top: 15px;
        border-radius: 25%;
    }
    .location-1{
        top: 120px;
        left: 55px;
    }
    .location-2{
        top: 120px;
        right: 55px;
    }
    .information{
        height: 380px;
    }
    .information img{
        width: 90%;
        height: 340px;
        margin-left: 25px;
    }
    .information a{ 
        width: 70%;
        top: 40px;
        right: 70px;
    }
}